<div id="actors" class="detail-content">
  {{#if this}}
    {{#each this}}
        <div class="col-sm-4 col-md-3" data-scrollreveal="enter left after 0.15s over 1s" data-sr-init="true" data-sr-complete="true">
          <div>
            {{#if picture}}
              <img class="img-circle img-thumbnail" src="{{ picture }}" alt="{{ name }} profile image" />
            {{else}}
              <img class="img-circle img-thumbnail" src="resources/img/undefined.jpg" alt="{{ name }} profile image" />
            {{/if}}
          </div>
          <div class="caption text-center">
            <h3>{{ name }}</h3>
            <p>{{ biography }}</p>
            <p>
              {{#if skills}}
                Compétences:
                  {{#each skills}}
                    <strong>skill</strong>
                  {{/each}}
                {{/if}}
            </p>
            <p>
              <a onclick="displayActor('#detail', &quot;{{id}}&quot;,  '#actor-detail-template')" class="btn btn-primary" role="button">
                En savoir +
              </a>
            </p>
          </div>
        </div>
    {{/each}}
  {{else}}
    <h4>Aucun acteur référencé</h4>
  {{/if}}
</div>
